@font-face{
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
    
}
@font-face{
    font-family: 'Myriad';
    src: url(../fonts/MyriadPro-Regular/8143.otf);
    
}
@font-face{
    font-family: 'Nunito_Sans';
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
    
}
@font-face{
    font-family: 'Nunito_Sans-Bold';
    src: url(../fonts/Nunito_Sans/NunitoSans-Bold.ttf);
    
}
@font-face{
    font-family: 'Work_Sans';
    src: url(../fonts/Work_Sans/WorkSans-Regular.ttf);
    
}
@font-face{
    font-family: 'roboto';
    src: url(../fonts/roboto/Roboto-Medium.ttf);
    
}