@import 'bootstrap.css';
@import 'icons.css';
@import 'fonts.css';
@import 'root.css';

.header {
    height: 80vh;
    background: url(../images/header_bg.jpg) no-repeat center center /cover;
}

.header__nav {
    padding: 15px 0;

}

.header__nav-link {
    color: var(--black);
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 25px;
}

.header__nav-link:hover {
    color: var(--green);
}

.header__content {
    margin-top: 50px;
    max-width: 440px;
}

.header__title {
    font-size: 35px;
}

.header__desc {
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 50px;
}

.about-us {
    padding: 100px 0;
    background: var(--white);
}

.about-us__title {
    margin-bottom: 35px;
    color: var(--black);
}

.about-us__desc {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Nunito_Sans';
    margin-bottom: 50px;
}

.about-us__sing {
    width: auto;
}

.skills {
    overflow: hidden;
    background: var(--gray-light);
}

.skills img {
    left: 100%;
    width: 50vw;
}

.statistic {
    background: var(--green);
    color: var(--white);
}

.statistic__title {
    font-size: 12px;
    text-transform: uppercase;
}

.statistic__icon {
    font-size: 40px;
}

.work__link {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background: var(--black);
    color: var(--white);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    transition: 400ms;
    filter: blur(100px);
}

.work__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__link span {
    font-size: 70px;
}

.work__link:hover {
    color: var(--white);
    opacity: 0.5;
    filter: blur(0px);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.work__image {
    overflow: hidden;

}

.works__link-more {
    background: var(--green);
    display: block;
    padding: 45px 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
}

.works__link-more:hover {
    color: var(--white);
    opacity: 0.9;

}

.work-process__video video {
    width: 100%;

}

.services {
    background: var(--gray-light);
    padding: 50px 0 100px 0;
}

.services__icon {
    font-size: 50px;
    color: var(--gray);
    margin-top: 50px;
}

.services__title {
    font-size: 18px;
    text-transform: uppercase;
    margin: 20px 0;
}

.services__desc {
    text-align: center;
}

.feed-back {
    background: var(--green);
}

.feed-back__quote {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
}

.feed-back__user-name {
    text-align: center;
    color: var(--white);
}

.carousel-indicators {
    align-items: center;
}

.carousel-indicators .feed-back__indicators {
    padding: 0;
    border: none;
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    opacity: 0.5;
}

.carousel-indicators .feed-back__indicators.active {
    width: 10px;
    height: 10px;
    opacity: 1;
}
.carousel-control{
    background:green;
    height:80px;
}

.form__title {
    text-align: center;
}

.form__desc {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form textarea {
    height: 170px;
}

.form {
    background: var(--gray-light);
    padding: 100px 0;
}

.form *:not(button) {
    border: none;
    border-radius: 0;
}

footer {
    background: var(--black);
    color: var(--white);
    padding: 100px 0;
}

.about-us__home {
    padding: 100px 0;
    background: var(--green);
}


.about-us__title__home {
    margin-bottom: 35px;
    color: var(--black);
    font-family: 'Montserrat';
    font-weight: 800;
}

.about-us__desc__home {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    font-family: 'roboto';
    margin-bottom: 50px;
    color: var(--white);
    font-weight: 500;
}

.works__link {
    position: absolute;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(to top, #336666, #31774c);
    color: var(--white);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    transition: 400ms;
    filter: blur(100px);
}

.works__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works__link span {
    font-size: 70px;
}

.works__image {
    overflow: hidden;

}

.works__link:hover {
    color: var(--white);
    opacity: 0.5;
    filter: blur(0px);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.address p {
    font-family: 'Nunito_Sans';
    font-weight: 600;
    font-size: 14px;
    color: #bcbcbc;
    margin-top: 30px;
}

.address span {
    font-family: 'Nunito_Sans';
    font-weight: 600;
    font-size: 14px;
    color: #bcbcbc;
    margin-top: 15px;
}

.email a {
    font-family: 'Nunito_Sans';
    font-weight: 600;
    font-size: 14px;
    color: #bcbcbc;
}

.numb {
    font-family: 'Work_Sans';
    font-weight: 600;
    font-size: 14px;
    color: #bcbcbc;
}

.social__networks a {
    font-family: 'Nunito_Sans';
    font-weight: 600;
    font-size: 14px;
    color: #bcbcbc;
}

.about-us__about {
    padding: 100px 0;
    background: #323232;
}


.about-us__title__about {
    margin-bottom: 15px;
    color: var(--white);
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 60px;
}

.about-us__desc__about {
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Nunito_Sans';
    margin-bottom: 50px;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
}

.skills__about {
    overflow: hidden;
    background: var(--gray-light);
    object-fit: cover;
}

.skills__about img {
    right: 100%;
    width: 50vw;
}

.skills__title__about {
    font-family: 'Montserrat';
    color: #171717;
    font-weight: 800;
    font-size: 30px;
}

.about__desc {
    font-family: 'Nunito_Sans';
    color: #787878;
    font-weight: 500;
    font-size: 16px;
}

.project__about {
    padding: 100px 0;
}

.project__about__title {
    margin-bottom: 40px;
    color: #1d1d1d;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 30px;
}

.project__about__desc {
    max-width: 540px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Nunito_Sans';
    margin-bottom: 50px;
    color: #787878;
    font-weight: 500;
    font-size: 16px;
}

.skills__Project {
    overflow: hidden;
    background: var(--gray-light);
}

.skills__Project img {
    left: 100%;
    width: 50vw;
}

.skills__title__Project {
    font-family: 'Montserrat-Medium';
    color: #171717;
    font-weight: 800;
    font-size: 38px;
}

.Project__desc {
    font-family: 'Nunito_Sans';
    color: #787878;
    font-weight: 500;
    font-size: 16px;
    max-width: 440px;
}

.Project__addresss a {
    font-family: 'Nunito_Sans-Bold';
    color: #171717;
    font-weight: 600;
    font-size: 16px;
}

.Project__addresss span {
    font-family: 'Nunito_Sans';
    color: #787878;
    font-weight: 500;
    font-size: 16px;
}

.carousel-indicators {
    display: flex;
    max-width: 40px;

    flex-wrap: wrap;
}

.Project {
    padding-left: 80px;
}

.bg-dark {
    height: 100px;
}

.bg-dark a {
    padding-left: 50px;
    padding-right: 50px;
}

.Project {
    background: #f6f6f6;
}

.carousel-indicators li {
    border: none;
    padding: 0;
    width: 8px;
    height: 8px;
    background: #ffffff;
    margin: 3px;
}

.carousel-item img {
    left: 100%;
    width: 50vw;
}

.carousel-projects {
    font-family: 'Montserrat-Medium';
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.carousel-control-prev {
    background: green;

}

.carousel-control-next {
    background: green;

}

.skills__contact {
    overflow: hidden;
    background: var(--gray-light);
    object-fit: cover;
}





.form {
    background: var(--gray-light);

}

.form__contact *:not(button) {
    border: none;
    border-radius: 0;
}


.form__contact-name input {
    width: 290px;
}

.form__contact-email input {
    margin-right: 20px;
    padding-right: 0;
    width: 315px;
}
.skills__title__contact{
    font-family: 'Montserrat-Medium';
    color: #171717;
    font-weight: 700;
    font-size: 30px;   
}

.contact__desc{
    font-family: 'Nunito_Sans';
    color: #787878;
    font-weight: 500;
    font-size: 16px;
    
}

.contact__addresss a{
    font-family: 'Nunito_Sans-Bold';
    color: #171717;
    font-weight: 600;
    font-size: 16px;
    
}
.contact__addresss li{
    margin-top: 10px;
}
.contact__addresss span{
    font-family: 'Nunito_Sans';
    color: #787878;
    font-weight: 500;
    font-size: 16px;
}
.contact-about{
    height: 710px;
}
.form-group{
    margin-bottom: 40px;
}




